body{
    background-color: rgb(216, 198, 198);
}

 .box{
    background-color: rgb(198, 245, 247);
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .container1{
    display: flex;
    justify-content: flex-start;  
    gap: 10px;
    

 }
 .container2{
    display: flex;
    justify-content: center;
    gap: 10px; 
    
 }

 .container3{
    display: flex;
    justify-content:flex-end; 
    gap: 8px;
 }


 .container4{
    display: flex;
    justify-content: space-between; 
    gap: 10px ;
 }

 .container5{
    display: flex;
    justify-content: space-around; 
    gap: 10px;
    
 }

 .container6{
    display: flex;
    justify-content: space-evenly;

 }

.container7{
display: flex;
justify-content:center
}

.container8{
display: flex;
justify-content:space-between;
}

.container9{
display: flex;
justify-content:space-around;
}

.container10{
display: flex;
justify-content:center;
}